<header>
    <h1>League of Legends Api</h1>
</header>

<div style="word-wrap: break-word;">
    <button ng-click="$ctrl.getSummonersByNames()">getSummonersByNames</button>
    <button ng-click="$ctrl.getSummonersByIds()">getSummonersByIds</button>
    <button ng-click="$ctrl.getSummonersNamesByIds()">getSummonersNamesByIds</button>
    <button ng-click="$ctrl.getSummonersMasteriesByIds()">getSummonersMasteriesByIds</button>
    <button ng-click="$ctrl.getSummonersRunesByIds()">getSummonersRunesByIds</button>
    <button ng-click="$ctrl.getAllChampions()">getAllChampions</button>
    <button ng-click="$ctrl.getChampionById()">getChampionById</button>
    <button ng-click="$ctrl.getLeaguesBySummonerIds()">getLeaguesBySummonerIds</button>
    <button ng-click="$ctrl.getLeagueEntriesBySummonerIds()">getLeagueEntriesBySummonerIds</button>
    <button ng-click="$ctrl.updateSummonerRegion()">updateSummonerRegion</button>
    <li ng-repeat="(key, result) in $ctrl.results">
        <b>{{key}}:</b>
        <br>{{result}}
    </li>
</div>